<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Email Examples</title>
  </head>
  <body>
    <wo:form multipleSubmit="true">
      From: 
      <wo:textfield value="$emailFrom" />
      <br />
      To: 
      <wo:textfield value="$emailTo" />
      <br />
      <wo:AjaxSubmitButton updateContainerID="message" value="Send plain text email" action="$sendPlainTextEmail" />
      <wo:AjaxSubmitButton updateContainerID="message" value="Send HTML email" action="$sendHTMLEmail" />
      <wo:AjaxSubmitButton updateContainerID="message" value="Send HTML email (from component)" action="$sendComponentEmail" />
      <wo:AjaxSubmitButton updateContainerID="message" value="Send email with attachement" action="$sendAttachementEmail" />
      <wo:AjaxSubmitButton updateContainerID="message" value="Send email with inline image" action="$sendInlineImagesEmail" />
	</wo:form>
    <wo:AjaxUpdateContainer id="message"><wo:str value="$message" /></wo:AjaxUpdateContainer>
  </body>
</html>